:root {
  --c-background: #080c0f;
  --c-darkGray: #151e27;
  --c-midGray: #8899a6;
  --c-white: #f5f6f8;
  --c-green: #1ed760;
  --c-red: #d13b41;
  --c-yellow: #ffd10d;
  --c-yellow-10: #2c3024;
  --c-purple: #5d3ebd;
}
